/* UTILITIES */
/* LOGO */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: royalblue;
	height 100%;
    /*display: flex;*/
}

li {
    float: left;
    border-right: 1px solid #bbb;
	height 100%;
}
    li:last-child {
        border-right: none;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 0px 16px;
        text-decoration: none;
    }

body {
/*font-family: cursive;*/
font-family: Times New Roman;
}
a {
 text-decoration: none;
}
li {
 list-style: none;
}
/* NAVBAR STYLING STARTS */
.nav {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px;
 background-color: royalblue;
 color: #fff;
}

.nav-links a {
 color: #fff;
}

.menu {
 display: flex;
 gap: 1em;
 font-size: 18px;
}

nav li a:hover {
   /* background-color: gold;*/
   color: gold;
}
.home a.home {
    /*background-color: yellow;
    color: royalblue;*/
	color: yellow;
}
.contact a.contact {
     /*background-color: yellow;
    color: royalblue;*/
	color: yellow;
}
.about a.about {
   /* background-color: yellow;
    color: royalblue;*/
	color: yellow;
}

.scores a.scores {
   /* background-color: yellow;
    color: royalblue;*/
	color: yellow;
}

.rules a.rules {
   /* background-color: yellow;
    color: royalblue;*/
	color: yellow;
}
